*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --font: "Roboto Mono", "Roboto Mono", "Vazirmatn", monospace;
}

body {
    background-color: #1d1b26; /*#1E1C1C*/
    font-family: var(--font);
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin: 0;
    /* border: 2px solid peru; */
}

#menu-modal {
    position: absolute;
    background-color: rgba(29, 27, 38, 0.97);
    width: 80%;
    height: 96vh;
    color: #d1d0c5;
    font-size: 1.5rem;
    font-family: var(--font);
    text-align: center;
    display: none;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

#restart-button {
    width: 6rem;
    height: 4rem;
    background-color: #12111a;
    color: #d1d0c5;
    font-size: 1.25rem;
    font-family: inherit;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}

#restart-button:hover {
    background-color: #d1d0c5;
    color: #12111a;
}

.container {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    width: 80%;
    max-width: 1050px;
    height: 100vh;
    /* border: 2px solid rgb(205, 108, 63); */
}

#top-title {
    width: 100%;
    max-width: 300px;
    min-width: 100px;
    margin: .5em 0;
    color: #d1d0c5;
    font-family: var(--font);
    font-size: 2rem;
    text-align: center;
}

.flag-left-counter, .count-container {
    width: 100%;
    max-width: 300px;
    /* min-width: 100px; */
    min-width: 100px;
    margin-bottom: .75em;
    color: #d1d0c5;
    font-family: var(--font);
}

.flag-left-counter {
    font-size: 1.3rem;
}

.count-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    /* border: 2px solid #555; */
}

#game-container {
    width: 100%;
    max-width: 300px;
    text-align: center;
    /* border: 2px solid peru; */
}

img {
    max-width: 100%;
}

#flag-image {
    width: 100%;
    max-height: 200px;
    margin-bottom: 3em;
}

#options-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; /* Adjust the gap between buttons as needed */
}

.option-button {
    width: 100%; /* Each button takes 100% width of its grid cell */
    height: 100px; /* Set the height as needed */
    background-color: rgba(0, 0, 0, 0.226);
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: #fff; /* Set text color */
    font-size: 16px;
    font-family: var(--font);
    cursor: pointer;
    outline: none;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.option-button:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Adjust values as needed */
    background-color: rgba(0, 0, 0, 0.6); /* Adjust the alpha value as needed */
    border-radius: 10px;
}


#bottomOutPut {
    margin-top: 1em;
    color: #fff;
}